$red: rgba(163, 22, 33, 1);
$white: rgba(252, 247, 248, 1);
$grey: rgba(206, 211, 220, 1);
$blue: rgba(78, 128, 152, 1);
$black: rgba(54, 54, 54, 1);
$titles: "Muli", sans-serif;
$menu: "Jaldi", sans-serif;
$body: "Molengo", sans-serif;
@mixin phone {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: 600px) and (max-width: 949px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 950px) {
        @content;
    }
}
// full services page dive
#services {
    display: flex;
    flex-direction: column;
    align-items: center;

}
//for each individual service div
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $black;
    background: linear-gradient(to bottom, rgba(206,211,220,1) 23%,rgba(252,247,248,1) 100%); 
    width: 100vw;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        // padding: 20px;
        h2,h4,ol, ul {
            padding: 20px;
            font-family: $body;
        }
        
    }
    @include desktop(){
        div {
            width: 80vw;
            h4,ol {
                padding: 10px 20% 10px 20%;
                font-size: 20px;
            }
            li {
                padding: 5px 0 5px 0;
            }
        }
    }
}
#service-title {
    color: $red;
    font-family: $titles;
    text-shadow: 2px 2px 1px $black, -2px -2px 1px $white;
    // background-image: url("/brp/media/bigtanks1800.png");
}